{% extends 'main/index.html' %}

{% block content %}
<table class="table">
  <tr>
    <th scope="col">Заказчик:</th>
    <th scope="col">Отель:</th>
    <th scope="col">Номер:</th>
    <th scope="col">Дата заезда:</th>
    <th scope="col">Дата выезда:</th>
    <th scope="col">Стоимость:</th>
    <th scope="col">Бронь подтверждена:</th>
  </tr>
  {% for o in occ %}
  <tr>
    <th scope="row">{{o.client}}</th>
    <td >{{o.hotel}}</td>
    <td >{{o.hotel_room.name}}</td>
    <td >{{o.date_check_in}}</td>
    <td >{{o.date_of_departure}}</td>
      <td >{{o.pay}}</td>
        <td >{% if o.flag %}Да{% else %}Нет{% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}