{% extends 'main/index.html' %}

{% block content %}
<table class="table">
  <tr>
    <th scope="col">Номер:</th>
    <th scope="col">отель:</th>
    <th scope="col">статус:</th>
    <th scope="col">категория:</th>
    <th scope="col">кол-во мест:</th>
  </tr>
  {% for room in rooms %}
  <tr>
    <th scope="row">{{room.name}}</th>
    <td >{{room.hotel}}</td>
    <td >{{room.status}}</td>
    <td >{{room.cat}}</td>
    <td >{{room.count_place}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}