{% extends 'main/index.html' %}

{% block content %}
<div class="morpad">
    <h1>Анализ эффективности продаж</h1>
    <table class="table">
        <tr>
            <th scope="col">Дата: {{report.date.day}}.{{report.date.month}}.{{report.date.year}}</th>
            <th scope="col"></th>
          </tr>
        <tr>
          <th scope="col">Отель: {{report.hotel_name}}</th>
          <th scope="col"></th>
        </tr>
        {% if report.show %}
        <tr>
            <td scope="row">Количество проданых ночей</td>
            <td scope="row">{{report.nights}}</td>
        </tr>
        <tr>
            <td scope="row">Общая сумма продаж</td>
            <td scope="row">{{report.sell_sum}}</td>
        </tr>
        <tr>
            <td scope="row">% загрузки номерного фонда</td>
            <td scope="row">{{report.load}}%</td>
        </tr>
        <tr>
            <td scope="row">Ср. цена ADR</td>
            <td scope="row">{{report.adr}}</td>
        </tr>
        <tr>
            <td scope="row">RevPAR</td>
            <td scope="row">{{report.revpar}}</td>
        </tr>
        {% else %}
        <tr>
            <td scope="row">На выбранную дату нет продаж</td>
            <td scope="row"></td>
        </tr>
        {% endif %}
    </table>
</div>
{% endblock %}