{% extends 'main/index.html' %}

{% block content %}
    <a href="./admin">Панель управления для администратора</a><br/>
    <a href="./info">Отчёт по занятости номеров</a><br/>
    <a href="./bron">Журнал бронирования</a><br/>
    <a href="./managing">Менеджинг заездов/выездов</a><br/>
    <a href="./prices">Прайс-лист</a><br/>
    <a href="./report">Анализ эффективности продаж</a><br/>
    <a href="./sell-nights">Отчет проданных ночей и суммы продаж</a><br/>
    <a href="./work">Формирование заявок на уборку</a><br/>
    <a href="./analysis_cleaning">Анализ занятости горничных</a><br/>
{% endblock %}