{% extends 'main/index.html' %}

{% block content %}
<ul>
    
    <h2>Отчет проданных ночей и суммы продаж</h1>
    <p>бронь подтверждена на месяц вперед и за последние 5 дней за вычетом скидок</p>
    {% for hotel in hotels %}
        <h2><a href="/admin/main/hotel/{{hotel.hotel_id}}/change/">{{hotel.hotel}} (сумма продаж: {{hotel.result_sum}})</a></h2> 
        <table class="table">
            <tr>
              <th scope="col">Дата:</th>
              <th scope="col">Сумма продаж за день:</th>
              <th scope="col">Продано ночей:</th>
            </tr>
            {% for data in hotel.info %}
                <tr>
                    <td scope="row">{{data.date.day}}.{{data.date.month}}.{{data.date.year}}</td>
                    <td scope="row">{{data.sums}}</td>
                    <td scope="row">{{data.nights}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</ul>
{% endblock %}